<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8000/page/style.css">
    <title>Главная</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="#">Заказ ремонта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="seller.html">Трудоустройство</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Оценка работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О Нас</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form action="" method="get">
            <input type="text" name="name_component">
            <input type="submit" value="Отправить">
        </form>
    </div>
    <div class="table__container" id="2">
        <table id="1" class="table__standart">
        </table>
    </div>
    <script type="text/javascript" src="http://localhost:8000/page/jquery.js"></script>
    <script type="text/javascript" src="http://localhost:8000/page/script.js"></script>
</body>

</html>